<%-include('../../fragments/header.ejs') %>

	<main>
		<script type="application/javascript" src="/javascripts/formValidation.js"></script>
		<h2><%= pageTitle %></h2>
		<form class='form' method='post' action="<%=formAction%>" novalidate onsubmit="return validateForm();">
			<input type="hidden" name="id" value="<%= song.id %>">

			<label for="title">Title: <span class="symbol-required">*</span></label>
			<input type="text" name="title" id="title" placeholder="2-50 characters" value="<%= song.title %>"
				<%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
			<span id='errorTitle' class='errors-text'></span>

			<label for="url">URL: <span class="symbol-required">*</span></label>
			<input type="text" name="url" id="url" placeholder="5-120 characters" value="<%= song.url %>"
			<%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
			<span id="errorUrl" class="errors-text"></span>
			
			<label for="isrc">ISRC: </label>
			<input type="text" name="isrc" id="isrc" placeholder="5-60 characters" value="<%= song.isrc %>"
			<%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
			<span id="errorISRC" class="errors-text"></span>
		
			<% if (formMode == 'showDetails') { %>
                <div>
                    <a class="list-actions-button-edit" href="/songs/edit/<%= song.id %>">Edit</a>
                </div>
            <% } %>
            
            <div class="form-buttons">
                <p id="errorsSummary" class="errors-text"></p>
                <% if (formMode != 'showDetails') { %>
                    <input class="form-button-submit" type="submit" value="<%=btnLabel%>"/>
                    <a class="form-button-cancel" href="/songs">Cancel</a>
                <% } else { %>
                    <a class="form-button-cancel" href="/songs">Return</a>
                <% } %>
            </div>
		</form>


			<% if (formMode == 'showDetails' || formMode == 'edit') { %>
			<h2>Song details</h2>

			<table class="table-list">
				<thead>
					<tr>
						<th>Title</th>
						<th>URL</th>
						<th>ISRC</th>
					</tr>
				</thead>
                <tbody>
					<tr>
						<td><%= song.title %></td>
						<td><a href="<%= song.url %>" target="_blank"><%= song.url %></a></td>
						<td><%= song.isrc %></td>
					</tr>
				</tbody>
            </table>
			<% } %>
		
	</main>
	
<%-include('../../fragments/footer.ejs') %>