<%- include('../../fragment/header.ejs') %>

    <main>
        <script type="application/javascript" src="/js/validationProjectForm.js"></script>
        <h2><%= pageTitle %></h2>

        <form class="form" method="post" action="<%=formAction%>" novalidate onsubmit="return validateForm();">
            <input type="hidden" name="projectId" value="<%= project.projectId %>">

            <label for="projectName">Name: <span class="symbol-required">*</span></label>
            <input type="text" name="projectName" id="projectName" required>
            <span id="errorProjectName" class="errors-text"></span>

            <label for="clientName">Client: <span class="symbol-required">*</span></label>
            <select name="clientName" id="clientName">
                <option>-- Choose client --</option>
                <option value="1">ShaReCon</option>
                <option value="2">GUN</option>
            </select>
            <span id="errorClient" class="errors-text"></span>

            <label for="employeeName">Employee: <span class="symbol-required">*</span></label>
            <select name="employeeName" id="employeeName">
                <option>-- Choose employee --</option>
                <option value="1">Brendan Eich</option>
                <option value="2">Linus Torvalds</option>
                <option value="3">Richard Hendricks</option>
            </select>
            <span id="errorEmployee" class="errors-text"></span>

            <label for="startDate">Start: <span class="symbol-required">*</span></label>
            <input type="date" name="startDate" id="startDate" required>
            <span id="errorStartDate" class="errors-text"></span>
            
            <label for="deadline">Deadline: <span class="symbol-required">*</span></label>
            <input type="date" name="deadline" id="deadline" required>
            <span id="errorDeadline" class="errors-text"></span>
            
            <label for="budget">Budget: <span class="symbol-required">*</span></label>
            <input type="number" name="budget" id="budget" min="0" max="1000000000" step="10" required>
            <span id="errorBudget" class="errors-text"></span>

            <span id="errorsSummary" class="errors-text"></span>

            <div class="form-buttons">
                <input type="submit" value="Add" class="form-button-submit">
                <a href="/projects" class="form-button-cancel">Cancel</a>
            </div>
        </form>
    </main>
</body>

<%- include('../../fragment/footer.ejs') %>