<%- include('../../fragment/header.ejs') %>

    <main>
        <h2>Project list</h2>
        <table class="table-list">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Start</th>
                    <th>Deadline</th>
                    <th>Budget</th>
                    <th>Client</th>
                    <th>Employee</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% for (let project of projects) { %>
                <tr>
                    <td><%= project.projectName %></td>
                    <td><%= project.startDate.toISOString().split('T')[0] %></td>
                    <td><%= project.deadline.toISOString().split('T')[0] %></td>
                    <td><%= project.budget %></td>
                    <td><%= project.client.company %></td>
                    <td><%= project.employee.firstName + ' ' + project.employee.lastName %></td>
                    <td>
                        <ul class="list-actions">
                            <li>
                                <a href="/projects/details/<%= project.projectId %>" class="list-actions-button-details">Details</a>
                            </li>
                            <li>
                                <a href="/projects/edit/<%= project.projectId %>" class="list-actions-button-edit">Edit</a>
                            </li>
                            <li>
                                <a href="" class="list-actions-button-delete">Delete</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>

        <p><a href="/projects/add" class="button-add">Add new project</a></p>
    </main>
</body>

<%- include('../../fragment/footer.ejs') %>