<%- include('../../fragment/header.ejs') %>

    <main>
        <script type="application/javascript" src="/js/validationEmpForm.js"></script>
        <h2><%= pageTitle %></h2>

        <form class="form" method="post" action="<%=formAction%>" novalidate onsubmit="return validateForm();">
            <input type="hidden" name="empId" value="<%= emp.empId %>">

            <label for="firstName">Name: <span class="symbol-required">*</span></label>
            <input type="text" name="firstName" id="firstName" placeholder="2-50 characters" value="<%= emp.firstName %>"
                <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
            <span id="errorFirstName" class="errors-text"></span>

            <label for="lastName">Surname: <span class="symbol-required">*</span></label>
            <input type="text" name="lastName" id="lastName" placeholder="2-50 characters" value="<%= emp.lastName %>"
            <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
            <span id="errorLastName" class="errors-text"></span>
            
            <label for="email">E-mail: <span class="symbol-required">*</span></label>
            <input type="text" name="email" id="email" placeholder="5-50 characters" value="<%= emp.email %>"
            <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
            <span id="errorEmail" class="errors-text"></span>
            
            <label for="role">Role: </label>
            <input type="text" name="role" id="role" placeholder="e.g. Senior Javascript Developer" value="<%= emp.role %>"
            <%= (formMode == 'showDetails') ? 'disabled' : '' %>/>
            <span id="errorRole"></span>

            <% if (formMode == 'showDetails') { %>
                <div>
                    <a class="list-actions-button-edit" href="/employees/edit/<%= emp.empId %>">Edit</a>
                </div>
            <% } %>
            
            <div class="form-buttons">
                <p id="errorsSummary" class="errors-text"></p>
                <% if (formMode != 'showDetails') { %>
                    <input class="form-button-submit" type="submit" value="<%=btnLabel%>"/>
                    <a class="form-button-cancel" href="/employees">Cancel</a>
                <% } else { %>
                    <a class="form-button-cancel" href="/employees">Return</a>
                <% } %>
            </div>
        </form>
        
        <% if (formMode == 'showDetails' || formMode == 'edit') { %>

        <h2>Project details</h2>

            <table class="table-list">
                <thead>
                    <tr>
                        <th>Client</th>
                        <th>Project</th>
                        <th>Start</th>
                        <th>Deadline</th>
                        <th>Budget</th>
                    </tr>
                </thead>
                <tbody>
                <% for (let e of emp.projects) { %>
                    <tr>
                        <td><a href="/clients/details/<%= e.client.clientId %>"><%= e.client.company %></a></td>
                        <td><%= e.projectName %></td>
                        <td><%= e.startDate.toISOString().split('T')[0] %></td>
                        <td><%= e.deadline.toISOString().split('T')[0] %></td>
                        <td><%= e.budget %></td>
                    </tr>
                <% } %>
                </tbody>
            </table>

        <% } %>

    </main>
</body>

<%- include('../../fragment/footer.ejs') %>