<%- include('../../fragment/header.ejs') %>

    <main>
        <h2>Employee list</h2>
        <table class="table-list">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>E-mail</th>
                    <th>Role</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% for (let emp of emps) { %>
                <tr>
                    <td><%= emp.firstName %></td>
                    <td><%= emp.lastName %></td>
                    <td><%= emp.email %></td>
                    <td><%= emp.role %></td>
                    <td>
                        <ul class="list-actions">
                            <li>
                                <a href="/employees/details/<%= emp.empId %>" class="list-actions-button-details">Details</a>
                            </li>
                            <li>
                                <a href="/employees/edit/<%= emp.empId %>" class="list-actions-button-edit">Edit</a>
                            </li>
                            <li>
                                <a href="/employees/delete/<%= emp.empId %>" class="list-actions-button-delete">Delete</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>

        <p><a href="/employees/add" class="button-add">Add new employee</a></p>
    </main>

<%- include('../../fragment/footer.ejs') %>
